version: "3"

services:
  postgres:
    image: postgres:12.6-alpine
    expose:
      - "5432"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: <%= app_name %>
      POSTGRES_PASSWORD: <%= app_name %>
#    volumes:
#      - postgres:/var/lib/postgresql/data

# volumes:
#   postgres: {}