---
:concurrency: <%%= ENV.fetch('<%= app_name.underscore.upcase %>_SIDEKIQ_CONCURRENCY', 2) %>
:queues:
  - default

development:
  :verbose: true

production:
  :concurrency: <%%= ENV.fetch('<%= app_name.underscore.upcase %>_SIDEKIQ_CONCURRENCY', 4) %>