namespace :graphql do
  namespace :schema do
    desc "Dumps the GraphQL schemas so they can be used by TypeScript"
    task dump: :environment do
      schema = <%= schema_class_name %>.to_definition
      path = Rails.root.join('db', 'schema.graphql')
      File.write(path, schema)
    end
  end

  desc "Generates Typescript types from the GraphQL schema"
  task types: 'graphql:schema:dump' do
    `yarn graphql-codegen`
  end
end