import React from 'react'
import styled from 'styled-components'

const AppDiv = styled.div`
  background: blue;
  color: white;
`

export const Application: React.FC = () => <AppDiv>Hello from React!</AppDiv>

export default Application
