class AdminPolicy < AuthenticatedPolicy
  def index?
    super && user.admin?
  end

  def show?
    super && user.admin?
  end

  def create?
    super && user.admin?
  end

  def new?
    create?
  end

  def update?
    super && user.admin?
  end

  def edit?
    update?
  end

  def destroy?
    super && user.admin?
  end

  class Scope < Scope
    def resolve
      scope.all
    end
  end
end
